.idea
output/
*.gz
*.zip
*.rar
*.tar.gz
*.tar
*.ckpt*
*.pkl
.DS_Store
*.[ao~]
*.jpg
*.png
*.npy
*.pyc
/data/
/pretrain/
/mainmodels/log/
/attached/airplane.png
/attached/drawLine.png
/attached/CIFAR10train.png
/attached/SAEModel.png
!/attached/SAEModel.png
!/attached/CIFAR10train.png
!/attached/airplane.png
!/attached/drawLine.png
trainmodel/
mainmodels/models/ssd/visualization/tensorboard_out/
