.idea
output/
*.gz
*.zip
*.rar
*.tar.gz
*.tar
*.ckpt*
*.pkl
.DS_Store
*.[ao~]
*.jpg
*.png
thirdparts/dytb/dytb.egg-info
thirdparts/dytb/log
thirdparts/dytb/scripts/inputs/airplane
thirdparts/dytb/dytb/inputs/predefined/data/Cifar10/
thirdparts/dytb/log/SingleLayerCAE/airplane_Adam_lr_decay_fliplr.tar.gz
thirdparts/dytb/dytb/__pycache__
thirdparts/dytb/dytb/inputs/__pycache__/
thirdparts/dytb/scripts/__pycache__
thirdparts/dytb/scripts/inputs/__pycache__
trainmodel/__pycache__/
trainmodel/data/
trainmodel/log/
/output/0001_252004_32_32.bin
model/
trainmodel/models/__pycache__/
mainmodels/models/autoencoder/__pycache__/
mainmodels/models/rpnplus/__pycache__/
mainmodels/models/rpnplus/tools/__pycache__/
mainmodels/models/tradition/cnn/__pycache__/
mainmodels/models/tradition/control/__pycache__/
mainmodels/models/tradition/__pycache__/config.cpython-36.pyc
mainmodels/models/tradition/__pycache__/data_input.cpython-36.pyc
mainmodels/models/tradition/multicnn/__pycache__/
mainmodels/models/tradition/tools/__pycache__/
mainmodels/models/tradition/__pycache__/
mainmodels/models/tradition/multicnn/__pycache__/
mainmodels/models/tradition/tools/__pycache__/
/pretrain/
data/
mainmodels/
pretrain/
/pretrain/rpnplus_model.npy
/pretrain/vgg16.npy
/mainmodels/
!/mainmodels/
/mainmodels/log/
